:root {
    background-color: #5CDB95;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar-custom {
    background-color: #5CDB95;
}

a.navbar-brand {
    color: #05386B
}

a.navbar-brand:hover {
    color: #EDF5E1;
}

.nav-item a {
    color: #05386B;
}

.nav-item a:hover {
    color: #EDF5E1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5,56,107, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


